.form-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button0 {
  flex-grow: 1;
  justify-content: center;
  font-size: large;
  font-weight: 500;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  margin: 1vh 0;
  color: white;
  background-color: var(--verde);
}
.button1 {
  flex-grow: 1;
  justify-content: center;
  font-size: large;
  font-weight: 500;
  border: solid 0.5px var(--verde);
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  margin: 1vh 0;
  color: var(--verde-oscuro);
  background-color: white;
  text-decoration: none;
}
.button2 {
  flex-grow: 1;
  justify-content: center;
  font-size: large;
  font-weight: 500;
  border: solid 3.5px var(--gris-oscuro-borde);
  border-radius: 5px;
  margin-top: 2rem;
  color: var(--gris-oscuro-contenido);
  background-color: white;
  text-decoration: none;
}

.button0 a {
  text-decoration-line: none;
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: 500;
}

.button1 a {
  text-decoration-line: none;
  text-decoration: none;
  color: var(--verde-oscuro);
  font-size: large;
  font-weight: 500;
}
