.update-user-input,
.form-input,
select,
textarea {
  display: flex;
  flex-grow: 1;
  border-radius: 4px;
  margin: 0 auto;
  border: var(--gris-oscuro-borde);
  background-color: var(--gris-claro);
  opacity: 50%;
  color: var(--gris-oscuro-contenido);
  width: 100%;
  font-size: 18px;
  margin-bottom: 2vh;
  padding: 8px 8px;
}

label > span {
  color: var(--warning-red);
}

#buscar-equipo {
  height: 100%;
  margin: 0 0 0 0;
  border: var(--gris-oscuro-borde) solid 1px;
  padding: 2px;
}
