.pass-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

i {
  position: absolute;
  top: 20%;
  right: 5%;
  color: var(--gris-oscuro-contenido);
}

i:hover {
  color: var(--verde);
  cursor: pointer;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}
.login {
  display: inline-block;
  width: 80%;
}
.email {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
