:root {
  --verde: #5aca75;
  --gris: #f1f2f5;
  --gris-oscuro-borde: #e7e7ed;
  --color-de-ojo: #6b6c7e;
  --warning-red: #b95000;
  --black: #111116;
}

label > span {
  color: var(--warning-red);
}

.pass-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.form-button {
  display: flex;
}

.form-button button {
  flex-grow: 1;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--verde);
}

i {
  position: absolute;
  top: 20%;
  right: 5%;
  color: var(--color-de-ojo);
}

i:hover {
  color: var(--verde);
  cursor: pointer;
}

.form-input {
  flex-grow: 1;
  border-radius: 4px;
  margin: 0 auto;
  border: var(--gris-oscuro-borde);
  background-color: var(--gris);
  opacity: 50%;
  color: var(--color-de-ojo);
  width: 80%;
  height: 4vh;
  font-size: 18px;
  margin-bottom: 14px;
  padding: 8px 16px 8px 16px;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}
.login {
  display: inline-block;
  width: 80%;
}
.email {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
