.image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}
.img-not-found {
  width: 70%;
}
.container-info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.container-infowithbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.tag-information {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video {
  width: 281px;
  border-radius: 12px 12px 0 0;
  height: 158px;
}
.videosli {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 1rem;
  box-shadow: 0px 0px 10px 0px var(--gris-oscuro-borde);
  border-bottom: 1px solid var(--gris-oscuro-borde);
  border-radius: 12px;
}
.cubo-basura {
  display: flex;
  justify-content: space-around;
  color: var(--gris-oscuro-contenido);
}
.cubo-basura svg {
  width: fit-content;
}
.funil-name {
  display: inline-block;
  font-size: large;
}
.funil {
  font-size: large;
}
#filtro {
  flex-grow: 0;
  width: fit-content;
  margin: 0 10%;
}
#filtro:hover {
  flex-grow: 0;
  justify-content: center;
  font-size: large;
  font-weight: 500;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  margin: 1vh 0;
  border: 1px solid var(--verde);
  color: white;
  background-color: var(--verde);
  width: fit-content;
  margin: 0 10%;
}
.menu-container {
  margin: 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.menu.active.filter,
.menu.inactive.filter {
  position: absolute;
  transform: translateY(-19px);
  transform: translateX(100px);
  opacity: 0;
  transition: 1.5s;
}
.menu.active.filter,
.menu.inactive.filter:hover {
  position: absolute;
  transform: translateX(10px);
  opacity: 0.9;
  transition: 1.5s;
  width: 50%;
}

input[type="checkbox" i] {
  background-color: none;
}
