.image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.container-info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.container-infowithbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.tag-information {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video {
  width: 256px;
  height: 144px;
  border-radius: 4%;
}
.videosli {
  margin-bottom: 5%;
  box-shadow: 0px 0px 10px 0px var(--gris-oscuro-borde);
  border-bottom: 1px solid var(--gris-oscuro-borde);
  border-radius: 12px;
}
.funil-name {
  display: inline-block;
}

.menu-container {
  margin: 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.menu.active.filter,
.menu.inactive.filter {
  position: absolute;
  transform: translateY(-7%);
}
input[type="checkbox" i] {
  background-color: aquamarine;
}
