.image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}
.container-info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.container-infowithbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.tag-information {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.videosli {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 1rem;
  box-shadow: 0px 0px 10px 0px var(--gris-oscuro-borde);
  border-bottom: 1px solid var(--gris-oscuro-borde);
  border-radius: 12px;
  width: 80%;
}
.cubo-vasura {
  display: flex;
  justify-content: space-around;
  color: var(--gris-oscuro-borde);
}
.cubo-vasura svg {
  width: fit-content;
}
.funil-name {
  display: inline-block;
  font-size: large;
}
.funil {
  font-size: large;
}
.menu-container {
  margin: 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.menu.active.filter,
.menu.inactive.filter {
  position: absolute;
  transform: translateY(-6%);
}
input[type="checkbox" i] {
  background-color: none;
}
