.menu-container {
  position: relative;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 50%;
  padding: initial;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-right: 1rem;
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 50%;
}

.menu {
  background: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  right: 0;
  width: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(28px) translateX(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.menu ul {
  list-style: none;
  padding: 3px;
  margin: 1px;
  transform: translateY(100);
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.menu-image {
  border-radius: 25%;
  width: 4rem;
  height: 4rem;
}
