.container-offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-offer a {
  text-decoration: none;
}

.container-offer p {
  margin: 2% auto;
}

.offerul ul {
  margin-top: 5vh;
  padding: 0;
}

.main-container-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border: 1px solid var(--gris-oscuro-borde);
  margin-top: 1vh;
  border-radius: 5px;
  padding: 1.5rem 0 0 0;
}

.separador-img-p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
