.profileimage {
  border-radius: 50%;
  width: 220px;
  height: 220px;
}
.upload-image-wrapper {
  margin: 12px;
}
.upload-image {
  margin: 2vh;
}
.subidor {
  display: block;
  margin: 2vh auto;
}
.update-user-wrapper-p {
  font-weight: bold;
}
