.profile-wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.profile {
  display: inline-block;
  width: 80%;
}

.name-team {
  margin: 5% 0%;
}

.position-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -5%;
}

.profilename {
  font-family: Poppins;
  font-weight: bold;
}

.profilenumber {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 125%;
  display: flex;
  align-items: center;
  color: #111116;
  margin-right: 3%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.containerprofileimage .profileimage {
  margin-bottom: 2%;
}

.imageandpuntuation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.space {
  margin: 5px 0;
}

.bold {
  font-weight: bold;
}
