:root {
  --blue-link: #0b5fff;
}

.register-wrapper {
  background-color: rgb(238, 236, 236);
  height: 100vh;
  padding-top: 2rem;
}
.register img {
  justify-content: center;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  width: 120px;
}

.register {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 94vh;
  margin: 0 2rem;
}

.register-form-input {
  background-color: rgb(238, 236, 236);
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 2rem;
  padding: 0.8rem 1rem;
  width: 80%;
}

.not-registered p {
  margin-top: 10px;
  color: var(--blue-link);
}
.not-registered > a {
  text-decoration: none;
  width: 100%;
}

.register-form-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.register-form-button button {
  width: 80%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: #5aca75;
}
