.star-wrapper {
  display: flex;
  flex-direction: row;
}
.star-wrapper svg {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
  margin: 15px;
}
.star > span {
  font-size: large;
  font-weight: bold;
  margin: 0 15px;
}
.star-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px 0 0 0;
}
