:root {
  --verde: #5aca75;
  --gris-claro: #f1f2f5;
  --gris-oscuro-borde: #e7e7ed;
  --gris-oscuro-contenido: #6b6c7e;
  --warning-red: #b95000;
  --black: #111116;
  --blue-link: #0b5fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
